.notice-history{
    padding-top: 75px;
    &_text {
        font-size: 12px;
        &-header{
            background-color: $themeOrange;
            color: $darkBack;
            font-weight: bolder;
            h4{
                margin: 0;
            }
        }
    }
}
