@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap);* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.header,
.header_white {
  padding-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.header p,
.header_white p {
  font-size: 2rem;
  font-weight: bolder;
}

.header .u-line,
.header_white .u-line {
  background-color: white;
  width: 160px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
}

.header_white p {
  color: black;
}

.header .u-line {
  background-color: black;
}

.bg-theme_orange {
  background-color: #ff7700 !important;
}

.card-theme-orange {
  border-top: 3px solid #ff7700;
}

.btn-theme_orange {
  color: #fff;
  background-color: #ff7700;
  border-color: #ff7700;
}

.btn-theme_orange:hover {
  color: #fff;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.ht-link {
  background-color: lightgray;
}

.ht-link_button a {
  text-decoration: none;
  color: gray;
  padding: 0 0.8rem;
  font-size: 12px;
}

.ht-link_button a:hover {
  color: #ff7700;
}

.ht-link_button span {
  color: gray;
}

.ht-link_button li {
  margin-top: 0.5rem;
  padding: 0;
}

.ht-link_button button {
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: white;
}

.ht-nav {
  position: relative;
  background-color: #75B239;
  text-align: center;
}

.ht-nav ul li {
  width: 150px;
  height: 80px;
  padding-top: 30px;
  list-style: none;
}

.ht-nav_navbar {
  display: inline-block;
}

.ht-nav ul li:hover {
  background-color: #336504;
}

.ht-nav ul li a {
  text-decoration: none;
  color: white;
}

.ht-nav ul li ul {
  display: none;
  position: absolute;
  background-color: lightgray;
  top: 80px;
  padding-left: 0;
  z-index: 1;
  color: black;
}

.ht-nav ul li ul a {
  color: black;
}

.ht-nav ul li:hover ul {
  display: block;
  z-index: 1;
}

.ht-nav ul li ul li:hover {
  background-color: transparent;
  border-left: 2px solid #336504;
}

.ht-nav ul li ul li:hover a {
  color: #336504;
}

.ht-title {
  margin-top: 30px;
}

.ht-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.switch {
  --line: #505162;
  --dot: #F7F8FF;
  --circle: #9EA0BE;
  --duration: .3s;
  --text: #9EA0BE;
  cursor: pointer;
}

.switch-button {
  text-align: right;
  padding-top: 2px;
}

.switch-text {
  padding-right: 3px;
  color: gray;
  font-size: 15px;
}

.switch input {
  display: none;
}

.switch input + div {
  position: relative;
}

.switch input + div:before,
.switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 3px;
  top: 10px;
  width: 15px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}

.switch input + div:before {
  --s: 0;
  left: 0;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}

.switch input + div:after {
  left: 28px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}

.switch input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}

.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}

.switch input + div span:not(:empty) {
  padding-left: 64px;
}

.switch input:checked + div:before {
  --s: 1;
}

.switch input:checked + div:after {
  --s: 0;
}

.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}

.navbar {
  padding: 0;
  border-bottom: 5px solid #ff7700;
}

.header-nav {
  background-color: #343a40;
  padding-top: 15px;
}

.nav-logo {
  color: #ff7700;
  padding: 10px 10px 20px 30px;
}

.nav-link {
  color: #ff7700;
  padding: 15px 30px 15px 30px;
}

.nav-link:hover {
  color: #ff7700;
  border-color: #40464C;
}

.nav-item:hover {
  background-color: #40464C;
  border-radius: 5px 5px 0 0;
}

.nav-item {
  margin-left: 4px;
}

/*Navigation Out line*/

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #ff7700;
  border-color: #ff7700;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #40464C #40464C #ff7700;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel {
  height: 400px;
  background-color: #ff7700;
  font-size: 3rem;
  text-align: center;
  padding-top: 120px;
}

.service {
  padding-bottom: 120px;
}

.vision_child {
  outline: 1px solid lightgray;
  padding: 7px;
  margin-top: 15px;
}

.vision_child h6 {
  font-weight: 900;
  font-style: normal;
}

.vision_child p {
  font-size: 14px;
  color: #666666;
  margin: 0;
}

.prod {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.prod-item {
  background-color: white;
  padding: 20px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.prod-item h5,
.prod-item p {
  margin: 0;
}

.prod-item img {
  width: 100%;
  height: 100%;
}

.prod-item_info-header {
  padding: 0 0 8px 20px;
  color: #343a40;
  font-family: "Bree Serif", serif;
}

.prod-item_info-body {
  color: gray;
  font-weight: lighter;
  font-size: 14px;
  padding: 0 0 0 20px;
}

.prod-item_info-price {
  text-align: center;
  padding: 5px;
}

.prod-item_info-price div {
  padding: 5px;
  color: #ff7700;
}

.prod-item_info-price button {
  color: #ff7700;
  background-color: white;
  border: none;
  outline: none;
}

.prod-item_info-price button:hover {
  transform: scale(1.3);
  border: none;
  outline: none;
}

.prod-item_info hr {
  margin-bottom: 0;
}

.prod-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
  height: 80px;
  background-color: #343a40;
  color: #ff7700;
  text-align: center;
  padding-top: 20px;
}

