.navbar {
    padding: 0;
    border-bottom: 5px solid $themeOrange;
}

.header-nav {
    background-color: $darkBack;
    padding-top: 15px;
}
.nav-logo{
    color: $themeOrange;
    padding: 10px 10px 20px 30px;
}

.nav {
    &-icon-cont{
        position: relative;
    }
    &-icon{
        position: absolute;
        left: -120px;
        top: -15px;
    }
}


